*{
    padding: 0%;
    margin: 0%;
    font-family:sans-serif;
    box-sizing: border-box;

}
.hero{
    height: 100vh;
    width: 100%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: lightslategray;
}
.logo{
    align-items: center;
    width: 20%;
    cursor: pointer;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 15px;
}
nav ul li a{
    color: rgb(37, 35, 35);
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:lightcoral;
    transition: .4s;
} 
.btn{
    background-color: lightslategray;
    color: rgb(37, 35, 35);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px ;
    border-radius: 30px;
    transform: .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: rgb(56, 52, 52);
    margin: 20px 0px 20px ;
    font-size: 35px;

}
h3{
    color: black;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color:black;
    letter-spacing: 2px;
    font-size: 20px;
    padding-top: 60px;
}
p{
padding-bottom: 30px;

}
.img-box{
    width: 55%;
    height: 90%;
    position: absolute;
    bottom: 0%;
    right: 100px;
}
.img-box img{
    height: 100%;
    position: absolute;
    left: 80%;
    bottom: 0%;
    transform: translateX(-50%);
}
.newsletter form{
    width: 380px;
    max-width: 70%;
}
    

.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 100px 14px 15px;
    border: 2px solid lightslategray;
    outline: none;
    border-radius: 30px;
}

.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    background-color: lightslategray;
    color: aliceblue;
    box-shadow: 0px 0px 15px lightcoral,0px 0px 15px lightblue;
    padding: 10px 20px;
    margin-left: 5px;
}

.main img{
    position: absolute;
    width: 100px;
    height: 60px; 
    background-color: antiquewhite;
}
.about{
    width: 100%;
    padding: 100px;

}

.about-text{
    width: 1150px;
}



.main{
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color:lightslategray;
    font-size: 55px;
    text-transform: capitalize;
    font-family: 'Courier New';
}

.about-text h5{
    color: rgb(110, 128, 139);
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom:5px;
    text-transform: capitalize;
}
.about-text p{
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 15px;
}
button{
    background-color: lightslategray;
    color: aliceblue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color:darksalmon;
    border: 2px solid lightcoral;
    cursor: pointer;
}

.main2{
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: right;
    justify-content: space-around;
}
.services-text h2{
    color:lightslategray;
    font-size: 55px;
    text-transform: capitalize;
    font-family: 'Courier New';
}

.services{
    width: 100%;
    padding: 100px;
    
}


.box{
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px;
}
.services h5{
    color: rgb(110, 128, 139);
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom:5px;
    text-transform: capitalize;
}
.services-text p{
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 5px;
}
.button2{
    background-color: lightslategray;
    color: aliceblue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;

}
.button2:hover{
    background-color:darksalmon;
    border: 2px solid lightcoral;
    cursor: pointer;

}
.Contact-me{
    width: 100%;
    height: 290px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.Contact-me p{
    font-size: 30px;
    font-weight:lighter;
    margin-bottom: 15px;
    color: grey;
}
.Contact-me .button3{
    background-color:darkgray;
    color: aliceblue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 10px;
    transition: .4s;
    margin-bottom: 5px;

}

.Contact-me .button3:hover{
    background-color:darksalmon;
    border: 2px solid lightcoral;
    cursor: pointer;
}

.Contact-me .button4{
    background-color:darkgray;
    color: aliceblue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 10px;
    transition: .4s;
}
.Contact-me .button4:hover{
    background-color:darksalmon;
    border: 2px solid lightcoral;
    cursor: pointer;
}

footer{
        position: relative;
        width: 100%;
        height: 250px;
        background-color: lightslategray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
footer p:nth-child(1){
        font-size: 20px;
        color: rgb(235, 185, 136);
        margin-bottom: 5px;
        font-weight: bold;
    }
footer p:nth-child(2){
        font-size: 23px;
        color: bisque;
        width: 500px;
        text-align: center;
        line-height: 26px;
    }


.socials{
        display: flex;
    }
.socials a{
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(231, 210, 210);
        border-radius: 50%;
        margin: 12px 10px;
    }
.socials a:hover{
        color: lightcoral;
        bottom: 25px;
        font-size: 12px;
    }
.end{
    font-size: 10px;
}

.skills{
    margin: auto;
    width: 1100px;
    padding: 10px 10px;
    background-color: antiquewhite;
}
.skills h1{
    text-align:center ;
    font-size: 40px;
    font-weight: 600;
}
.Content{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.left{
    width: 50%;
}
.left h2{
    text-align: left;
    font-size: 30px;
}
.left p{
    font-size: 18px;
    margin: 15px 0;
    letter-spacing: 1px;
    line-height: 28px;
}
.left a{
    background-color: lightslategray;
    color: aliceblue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.left a:hover{
    background-color:darksalmon;
    border: 2px solid lightcoral;
    cursor: pointer;
}
.right{
    flex: 1;
    margin-left: 30px;
}
.right .line{
    margin-bottom: 20px;

}
.right .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right .info span{
     font-weight: 500;
     font-size: 18px;
    
}
.right .bars{
    background-color:lightgrey;
    height: 5px;
    width: 100%;
    position: relative;
}
.right .bars::before{
    content:'';
    position: absolute;
    height: 70%;
    background-color: lightslategray;
}
.right .html::before{
    width: 90%;
}
.right .js::before{
    width: 30%;
}
.right .css::before{
    width: 80%;
}